
body{
      font-family: "Special Gothic Expanded One", sans-serif;
  font-style: normal;
    color:black;

}

.new-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.white-btn{
    background-color: white;
    border: 2px solid black;
    color:black;
}

.white-btn:hover, .white-btn:active, .white-btn:focus{
    background-color: #e8e7e7;
     border: 2px solid black;
    color:black;
}

 .container {
            text-align: center;
            margin-top: 200px;
        }
.btn-group {
            margin-top: 20px;
        }
#signupForm {
            margin-top: 20px;
            display: none;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
    background-color: #ecebeb;
        }
input.form-control {
    background-color: white;
    color: #091511;
    border-color: #091511;
}


